<div class="navbar">
  <a  href="#ModalContact" class="btn waves-effect white btn_contact modal-trigger">
    Contactez-nous
  </a>
  <a href="/" class="nav_logo">
    <img src="https://i.imgur.com/eWewtQN.png" class="nb_logo" alt="logo">
  </a>
  <a href="users/sign_up" class="nav_user active">
    <img src="https://i.imgur.com/5GTtBZ1.png" class="nb_picto" alt="user1_w">
  </a>
</div>
<!-- ModalPhoto -->
<div id="ModalContact" class="modal" style="width: 400px; min-height: max-content; color: #575050">
  <div class="modal-header">
      NOUS CONTACTER
  </div>
  <div class="modal-content" style="text-align: left;">

    <div class="contact_line inline">
      <i class="material-icons contact_icon">phone</i>
      <div class='contact_num'>
        0186952177
      </div>
      <a href="tel:+33186952177" class="btn cyan darken-2 waves-effect waves-light contact_call">
        Appel
      </a>
    </div>
    <div class="contact_line inline">
      <i class="material-icons contact_icon" style='margin-top: 12px;'>email</i>
      <div class='contact_num'>
        hello@flateo.fr
      </div>
      <a href='mailto:hello@flateo.fr?subject=Salut FLATEO' class="btn cyan darken-2 waves-effect waves-light contact_call">
        message
      </a>
    </div>
  </div>
  <div class="modal-content" style="text-align: center; padding: 0 20px;">
    Vous pouvez aussi nous contacter sur :
    <div style="width: max-content; display: flex; margin: 20px auto; opacity: 0.8;">
      <a href="https://www.facebook.com/flateo/" target="_blank" class='sm_btn'>
        <img src="https://i.imgur.com/lDhKF4W.png" class="sm_picto" alt="facebook">
      </a>
      <a href="https://twitter.com/flateo" target="_blank" class='sm_btn'>
        <img src="https://i.imgur.com/zsIVb6m.png" class="sm_picto" alt="twitter">
      </a>
      <a href="https://www.linkedin.com/company/flateo/" target="_blank" class='sm_btn'>
        <img src="https://i.imgur.com/CQ4EUmI.png" class="sm_picto" alt="linkedin">
      </a>

    </div>
  </div>
  <div class="modal-footer" style="text-align: center;">
    <div class="btn cyan darken-2 waves-effect waves-light modal-close">
      Fermer
    </div>
  </div>
</div>
<!-- /ModalPhoto -->