<footer class="page-footer cyan darken-2">
 
    <div class="row">
      <div class="col m4 s12 center">
        <h5 class="white-text center">Nous contacter</h5>
        <div class="contact_line_footer">
          <a href="tel:+33186952177" class="contact_footer">
            <i class="material-icons contact_icon_footer">phone</i>
              <div class='contact_num_footer'>
              0186952177
            </div>
          </a>
          <a href="mailto:hello@flateo.fr?subject=Salut FLATEO" class="contact_footer">
            <i class="material-icons contact_icon_footer">email</i>
              <div class='contact_num_footer'>
              hello@flateo.fr
            </div>
          </a>
        </div>
      </div>
      <div class="col m4 s12">
        <h5 class="white-text center">Informations</h5>
        <div class="footer_info_area">
          <a class="col s6 footer_info tooltipped" data-position="top" data-tooltip="Arrive prochainement">
            CGU
          </a>
          <a class="col s6 footer_info tooltipped" data-position="top" data-tooltip="Arrive prochainement" >
            FAQ
          </a>
          
        </div>
      </div>
      <div class="col m4 s12">
        <h5 class="white-text center">Réseaux sociaux</h5>
        <div class="sn_footer">
          <a href="https://www.facebook.com/flateo/" target="_blank" class='col s4 footer_info'>
            <img src="https://i.imgur.com/lDhKF4W.png" class="sm_picto" alt="facebook">
          </a>
          <a href="https://twitter.com/flateo" target="_blank" class='col s4 footer_info' >
            <img src="https://i.imgur.com/zsIVb6m.png" class="sm_picto" alt="twitter">
          </a>
          <a href="https://www.linkedin.com/company/flateo/" target="_blank" class='col s4 footer_info'>
            <img src="https://i.imgur.com/CQ4EUmI.png" class="sm_picto" alt="linkedin">
          </a>
        </div>
      </div>
      
    </div>
 
  <div class="footer-copyright">
    <div class="container">
    Made by <a class="brown-text text-lighten-3" href="www.facebook.com/j.mesnet">Jacques Mesnet</a>
    </div>
  </div>
</footer>