<div class="container" style="width: 100%; padding-top: 0;">
  <div class="section" style="text-align: center;">

    <div class="row" >
      <h3 style="margin-bottom: 30px;">Notre expertise</h3>
      <div class="col s12 m6 center;">
        <img src="https://i.imgur.com/53vjuDB.png" class="chart_img center" alt="chart growth">
        <br>
        Évolution des revenus mensuels d’un T2 à Paris 9 géré par Flateo en 2017
      </div>
      <div class="col s12 m6">
        <p style="text-align: justify;">
          Grâce à notre expérience hôtelière (+ de 5200 voyageurs accueillis) et notre algorithme dédié, nous pouvons assurer l’optimisation de vos revenus locatifs quelque soit la saison. La flexibilité de notre ofre nous permet de nous adapter au profil de votre logement.
        </p>
        <a class="typeform-share btn cyan darken-2 waves-effect waves-light" style="margin-top: 10px;" href="https://flateo.typeform.com/to/kbykUK" data-mode="popup" target="_blank">Estimez vos revenus </a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
      </div>

    </div>
    <img src="https://i.imgur.com/b9vAR9r.png" class="sites_logo center" alt="logo sites location">
  </div>
</div>