<div class="container" style="width: 100%; text-align: center;">
  <div class="section">

    <div class="row">
      <h3 class="section_title">Confiez-nous votre logement en toute simplicité</h3>

      <div class="col s6 m3 center block_how">
        <a class="link_how">
          <img src="https://i.imgur.com/1n6AomI.png" class="service_icon" alt="card_user">
          <div class="block_title">
            RENSEIGNEZ VOTRE LOGEMENT
          </div>
          <div class="line_how"></div><div class="point_how"></div>
        </a>
        <div class="block_text text_how hidded">
          En quelques clics, transmettez-nous les informations propres à votre logement via votre espace personnel.
        </div>
      </div>
      <div class="col s6 m3 center block_how">
        <a class="link_how">
          <img src="https://i.imgur.com/yVGlcpr.png" class="service_icon" alt="disponibility">
          <div class="block_title">
            SIGNALEZ VOS DISPONIBILITÉS
          </div>
          <div class="line_how"></div><div class="point_how"></div>
        </a>
        <div class="block_text text_how hidded">
          Grâce à un calendrier intuitif, déterminez les dates de disponibilité du logement pour vos locations.
        </div>
      </div>
      <div class="col s6 m3 center block_how">
        <a class="link_how">
          <img src="https://i.imgur.com/GaZFBUK.png" class="service_icon" alt="keys2">
          <div class="block_title">
            CONFIEZ-NOUS <br>VOS CLÉS
          </div>
          <div class="line_how"></div><div class="point_how"></div>
        </a>
        <div class="block_text text_how hidded">
          À tout moment, vous pouvez nous remettre ou récupérer vos clés grâce à nos coursiers et consignes sécurisées.
        </div>
      </div>
      <div class="col s6 m3 center block_how">
        <a class="link_how">
          <img src="https://i.imgur.com/cNbChVB.png" class="service_icon" alt="payment">
          <div class="block_title">
            PERCEVEZ VOS REVENUS LOCATIFS
          </div>
          <div class="line_how"></div><div class="point_how"></div>
        </a>
        <div class="block_text text_how hidded">
          Grâce à notre garantie de paiement, percevez vos revenus locatifs au début de chaque séjour.
        </div>
      </div>
      
    </div>

    <a class="typeform-share btn cyan darken-2 waves-effect waves-light btn_estimation" href="https://flateo.typeform.com/to/QrWZ2g" data-mode="popup" target="_blank">Commencer l’aventure Flateo </a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
  </div>
</div>