<div class="container container_color">
  <div class="section">

    <div class="row" style="width: 100%;">
      <h2 class="center ">Notre offre</h2>
      <div class="col s12 m6">
        <div class='card_box'>
          <h4 class="center" style="color: #575050; font-size: 45px;">Gestion complète</h4>
          <div class="inline">
            <div style="width: 50%; padding: 10px; color: #0097a7;">
              <div class:"card_box_num" style='font-size: 80px;'>
                15%
              </div>
              <div class:"card_box_text" style='font-size: 30px;'>
                de commission
              </div>
            </div>
            <p style="width: 50%; padding: 0 10px; text-align: justify;">
              FLATEO gère les locations de votre logement de A à Z : création & configuration de l’annonce, ménage, linge, communication & assistance aux voyageurs, nous gérons tout 24H/24, 7J/7 !
            </p>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class='card_box'>
          <h4 class="center" style="color: #575050; font-size: 45px;">Gestion à la carte</h4>
          <div class="inline">
            <div style="width: 50%; padding: 10px; color: #0097a7;">
              <div class:"card_box_num" style='font-size: 80px;'>
                19€
              </div>
              <div class:"card_box_text" style='font-size: 30px;'>
                par prestations
              </div>
            </div>
            <p style="width: 50%; padding: 0 10px; text-align: justify;">
              Votre besoin est ponctuel ou spécifique ? Optez pour la gestion à la carte et choisissez parmi notre offre de prestations : accueil & départ de voyageurs, ménage, linge, expertise de l’annonce, prises de vue …
            </p>
          </div>
        </div>
      </div>
    </div>

    <a href="#ModalLandingOffer3" class="btn white modal-trigger btn_estimation" style="color: #26a69a; margin-bottom: 15px;">
      Comparer les deux offres
    </a>
    <!-- ModalOffer3 -->
    <div id="ModalLandingOffer3" class="modal" style="color: #575050;">
      <div class="modal-header">
        <h4>Comparer les deux offres</h4>
      </div>
      <div class="modal-content" style="padding-top: 0;">
        <div class="row">
          <div class="col m4">
            <div class="offer_column" style="margin-top: 45px">
              <div class="offer_item name">
                <div class="">
                  <img src="https://i.imgur.com/3wbwwvi.png" class="offer_icon_modal" alt="photo">
                </div>
                <div class="offer_name_modal">
                  Photos
                </div>
              </div>
              <div class="offer_item name">
                <img src="https://i.imgur.com/3wbwwvi.png" class="offer_icon_modal" alt="announce">
                <div class="offer_name_modal">
                  Annonces
                </div>
              </div>
              <div class="offer_item name">
                <img src="https://i.imgur.com/3wbwwvi.png" class="offer_icon_modal" alt="optimization">
                <div class="offer_name_modal">
                  Optimisation
                </div>
              </div>
              <div class="offer_item name">
                <img src="https://i.imgur.com/OGqDFrN.png" class="offer_icon_modal" alt="Assistance">
                <div class="offer_name_modal">
                  Assistance
                </div>
              </div>
              <div class="offer_item name">
                <img src="https://i.imgur.com/ZcGKK3J.png" class="offer_icon_modal" alt="Accueil">
                <div class="offer_name_modal">
                  Accueil & Départ
                </div>
              </div>
              <div class="offer_item name">
                <img src="https://i.imgur.com/30Ms7EV.png" class="offer_icon_modal" alt="checklist">
                <div class="offer_name_modal">
                  État des lieux
                </div>
              </div>
              <div class="offer_item name">
                <img src="https://i.imgur.com/tuMkRlw.png" class="offer_icon_modal" alt="clean">
                <div class="offer_name_modal">
                  Ménage
                </div>
              </div>
              <div class="offer_item name">
                <img src="https://i.imgur.com/Qp7eIfi.png" class="offer_icon_modal" alt="laundry">
                <div class="offer_name_modal">
                  Blanchisserie
                </div>
              </div>
              <div class="offer_item name">
                <img src="https://i.imgur.com/Oi4uAVf.png" class="offer_icon_modal" alt="Linge">
                <div class="offer_name_modal">
                  Location de linge
                </div>
              </div>
              <div class="offer_item name">
                <img src="https://i.imgur.com/8Fe2rBW.png" class="offer_icon_modal" alt="reassort">
                <div class="offer_name_modal">
                  Réassort
                </div>
              </div>
              <div class="offer_item name">
                <img src="https://i.imgur.com/fMbEtaL.png" class="offer_icon_modal" alt="Urgences">
                <div class="offer_name_modal">
                  Urgences
                </div>
              </div>
              <div class="offer_item name last">
                <img src="https://i.imgur.com/976IfWA.png" class="offer_icon_modal" alt="Travaux">
                <div class="offer_name_modal">
                  Petits travaux
                </div>
              </div>

            </div>
          </div>
          <div class="col m4">
            <div class="offer_column">
              <div class="offer_column_title">
                Gestion complète
              </div>
              <div class="offer_item">
                <i class="material-icons offer_icon check">done</i>
              </div>
              <div class="offer_item">
                <i class="material-icons offer_icon check">done</i>
              </div>
              <div class="offer_item">
                <i class="material-icons offer_icon check">done</i>
              </div>
              <div class="offer_item">
                <i class="material-icons offer_icon check">done</i>
              </div>
              <div class="offer_item">
                <i class="material-icons offer_icon check">done</i>
              </div>
              <div class="offer_item">
                <i class="material-icons offer_icon check">done</i>
              </div>
              <div class="offer_item">
                <i class="material-icons offer_icon check">done</i>
              </div>
              <div class="offer_item">
                <i class="material-icons offer_icon check">done</i>
              </div>
              <div class="offer_item">
                <i class="material-icons offer_icon check">done</i>
              </div>
              <div class="offer_item">
                <i class="material-icons offer_icon check">done</i>
              </div>
              <div class="offer_item">
                <i class="material-icons offer_icon check">done</i>
              </div>        
              <div class="offer_item">
                <i class="material-icons offer_icon check">done</i>
              </div>
              <div class="offer_item last_item">
                <div>
                  A partir de 
                </div>
                <div class="offer_item_pricing">
                  15%
                </div>
                <div>
                  de revenus locatifs
                </div>
              </div> 
            </div>
          </div>
          <div class="col m4">
            <div class="offer_column">
              <div class="offer_column_title">
                Gestion à la carte
              </div>
              <div class="offer_item">
                <i class="material-icons offer_icon close">close</i>
              </div>
              <div class="offer_item">
                <i class="material-icons offer_icon close">close</i>
              </div>
              <div class="offer_item">
                <i class="material-icons offer_icon close">close</i>
              </div>
              <div class="offer_item">
                <i class="material-icons offer_icon close">close</i>
              </div>
              <div class="offer_item">
                <i class="material-icons offer_icon check">done</i>
              </div> 
              <div class="offer_item">
                <i class="material-icons offer_icon check">done</i>
              </div> 
              <div class="offer_item">
                <i class="material-icons offer_icon check">done</i>
              </div> 
              <div class="offer_item">
                <i class="material-icons offer_icon check">done</i>
              </div> 
              <div class="offer_item">
                <i class="material-icons offer_icon close">close</i>
              </div>
              <div class="offer_item">
                <i class="material-icons offer_icon check">done</i>
              </div> 
              <div class="offer_item">
                <i class="material-icons offer_icon check">done</i>
              </div> 
              <div class="offer_item">
                <i class="material-icons offer_icon check">done</i>
              </div> 
              <div class="offer_item last_item">
                <div>
                  A partir de 
                </div>
                <div class="offer_item_pricing">
                  19€
                </div>
                <div>
                  par prestations
                </div>
              </div> 
            </div>
          </div>
         
        </div>
      </div>
      <div class="modal-footer modal-close" style="padding-top: 0; text-align: center;">
        <div class="btn cyan darken-2 waves-effect waves-light">
          Fermer
        </div>
      </div>
    </div>
    <!-- /ModalOffer3 -->
  </div>
</div>