<div class="container " style="margin-top: 20px; width: 100%; min-width: 100%;">
  <div class="section">

      <div class="row">
        <h3 class="center" style="margin-bottom: 50px;">Ils en parlent</h3>
        <div class="col s6 m3 center">
          <img src="https://i.imgur.com/6vkt7k9.png" class="press_icon" alt="figaro">
        </div>
        <div class="col s6 m3 center">
          <img src="https://i.imgur.com/V8z0Chq.png" class="press_icon" alt="leparisien">
        </div>
        <div class="col s6 m3 center">
          <img src="https://i.imgur.com/oYbiHx6.png" class="press_icon" alt="bfm">
        </div>
        <div class="col s6 m3 center">
          <img src="https://i.imgur.com/S49MA70.png" class="press_icon" alt="chalenges">
        </div>
      </div>

      <div class="row" style="margin-top: 100px;">
        <h3 class="center" style="margin-bottom: 0;"> Ils nous soutiennent </h3>
        <div class="col s12 m6 center">
          <img src="https://i.imgur.com/hh9xZzc.png" class="support_icon" alt="station_f">
        </div>
        <div class="col s12 m6 center">
          <img src="https://i.imgur.com/jIPZmcr.png" class="support_icon" alt="french_tech">
        </div>
      </div>

  </div>
</div>