<div class="container container_color">
  <div class="section">

    <div class="row" style="margin-bottom: 0;">
      <h3 class="center" style='margin-bottom: 50px;'>Notre équipe s'occupe de tout</h3>
      <div class="block_service_line">
        <!-- Photo -->
        <a href="#ModalLandingServices1" class="col s4 m2 center block_service modal-trigger">
          <img src="https://i.imgur.com/731BZhV.png" class="service_icon" alt="photo_w">
          <div class="service_title">
            Annonces <br> & Photo
          </div>
        </a>
        <!-- ModalPhoto -->
        <div id="ModalLandingServices1" class="modal modal_landing_services">
          <div class="modal-header">
            <img src="https://i.imgur.com/3wbwwvi.png" class="service_icon_modal" alt="photo">
            <div class="service_title_modal">
              Annonces & Photo
            </div>
          </div>
          <div class="modal-content service_content_modal">
            Nous assurons la création, le déploiement et la configuration de votre annonce sur les plateformes de location (Airbnb, Booking, Expedia, Homeway …).
          </div>
          <div class="modal-footer" style="text-align: center;">
            <div class="btn cyan darken-2 waves-effect waves-light modal-close">
              Fermer
            </div>
          </div>
        </div>
        <!-- /ModalPhoto -->
        <!-- /Photo -->

        <!-- Optimisation -->
        <a href="#ModalLandingServices2" class="col s4 m2 center block_service modal-trigger">
          <img src="https://i.imgur.com/CDd0ADL.png" class="service_icon" alt="optimization_w">
          <div class="service_title">
            Optimisation
          </div>
        </a>
        <!-- ModalOptimisation -->
        <div id="ModalLandingServices2" class="modal modal_landing_services">
          <div class="modal-header">
            <img src="https://i.imgur.com/IXx7otE.png" class="service_icon_modal" alt="optimization">
            <div class="service_title_modal">
              Optimisation
            </div>
          </div>
          <div class="modal-content service_content_modal">
            Grâce à notre algorithme et notre expertise, nous optimisons vos revenus locatifs et le taux d’occupation. Nous nous adaptons cependant à vos critères, si nécessaire.
          </div>
          <div class="modal-footer" style="text-align: center;">
            <div class="btn cyan darken-2 waves-effect waves-light modal-close">
              Fermer
            </div>
          </div>
        </div>
        <!-- /ModalOptimisation -->
        <!-- /Optimisation -->

        <!-- Welcome -->
        <a href="#ModalLandingServices3" class="col s4 m2 center block_service modal-trigger">
          <img src="https://i.imgur.com/qNwJNTn.png" class="service_icon" alt="welcome_w">
          <div class="service_title">
            Acceuil & Départ
          </div>
        </a>
        <!-- ModalWelcome -->
        <div id="ModalLandingServices3" class="modal modal_landing_services">
          <div class="modal-header">
            <img src="https://i.imgur.com/ZcGKK3J.png" class="service_icon_modal" alt="welcome">
            <div class="service_title_modal">
              Acceuil & Départ
            </div>
          </div>
          <div class="modal-content service_content_modal">
            Nous assurons les arrivées et départs de voyageurs 24H/24, 7J/7. 
          </div>
          <div class="modal-footer" style="text-align: center;">
            <div class="btn cyan darken-2 waves-effect waves-light modal-close">
              Fermer
            </div>
          </div>
        </div>
        <!-- /ModalWelcome -->
        <!-- /Welcome -->

        <!-- Communication -->
        <a href="#ModalLandingServices4" class="col s4 m2 center block_service modal-trigger">
          <img src="https://i.imgur.com/sAqnQr9.png" class="service_icon" alt="contact_w">
          <div class="service_title">
            Communication
          </div>
        </a>
        <!-- ModalCommunication -->
        <div id="ModalLandingServices4" class="modal modal_landing_services">
          <div class="modal-header">
            <img src="https://i.imgur.com/mMg9XYd.png" class="service_icon_modal" alt="contact">
            <div class="service_title_modal">
              Communication
            </div>
          </div>
          <div class="modal-content service_content_modal">
            Nous assurons la communication avec les voyageurs avant, pendant et après leur séjour et les assistons en cas de nécessité 24H/24, 7J/J via une hotline dédiée.
          </div>
          <div class="modal-footer" style="text-align: center;">
            <div class="btn cyan darken-2 waves-effect waves-light modal-close">
              Fermer
            </div>
          </div>
        </div>
        <!-- /ModalCommunication -->
        <!-- /Communication -->

        <!-- Household -->
        <a href="#ModalLandingServices5" class="col s4 m2 center block_service modal-trigger">
          <img src="https://i.imgur.com/a6Iupyc.png" class="service_icon" alt="clean_w">
          <div class="service_title">
            Ménage & Linge
          </div>
        </a>
        <!-- ModalHousehold -->
        <div id="ModalLandingServices5" class="modal modal_landing_services">
          <div class="modal-header">
            <img src="https://i.imgur.com/tuMkRlw.png" class="service_icon_modal" alt="clean">
            <div class="service_title_modal">
              Ménage & Linge
            </div>
          </div>
          <div class="modal-content service_content_modal">
            Grâce à notre équipe opérationnelle, nous assurons un ménage de qualité après chaque séjour de voyageurs. Nous nous occupons également de laver les serviettes et draps à chaque transition de séjours. Le linge peut-être optionnellement fourni par Flateo.
          </div>
          <div class="modal-footer" style="text-align: center;">
            <div class="btn cyan darken-2 waves-effect waves-light modal-close">
              Fermer
            </div>
          </div>
        </div>
        <!-- /ModalHousehold -->
        <!-- /Household -->

        <!-- Reparation -->
        <a href="#ModalLandingServices6" class="col s4 m2 center block_service modal-trigger">
          <img src="https://i.imgur.com/zSz0ogz.png" class="service_icon" alt="toilet_w">
          <div class="service_title">
            Réassort & Réparations
          </div>
        </a>
        <!-- ModalReparation -->
        <div id="ModalLandingServices6" class="modal modal_landing_services">
          <div class="modal-header">
            <img src="https://i.imgur.com/8Fe2rBW.png" class="service_icon_modal" alt="toilet">
            <div class="service_title_modal">
              Réassort & Réparations
            </div>
          </div>
          <div class="modal-content service_content_modal">
            Après chaque séjour de voyageurs, nous assurons un état des lieux. En cas de besoin, nous effectuons un réapprovisionnement en produits de première nécessité. Si des petites réparations sont à assurer, nous vous transmettons un devis avant de les prendre en charge. Si la responsabilité des voyageurs est engagée, nous assurons la gestion du dossier et la demande de dédommagement (via la caution ou l’assurance).
          </div>
          <div class="modal-footer" style="text-align: center;">
            <div class="btn cyan darken-2 waves-effect waves-light modal-close">
              Fermer
            </div>
          </div>
        </div>
        <!-- /ModalReparation -->
        <!-- /Reparation -->
      </div>
    </div>
  </div>
</div>