<div class="container container_color" style="background: #f5f5f5;">
  <div class="section">

    <div class="row" style="width: 100%; margin-bottom: 0;">
      <h3 style="margin-bottom: 30px; color: #575050;">Notre année 2017</h3>
      <div class="col s12 m4">
        <div class="card_box z-depth-2">
          <div class="card_box_num">
            160
          </div>
          <div class="block_title">
            appartements gérés
          </div>
        </div>
        
      </div>
      <div class="col s12 m4">
        <div class="card_box z-depth-2">
          <div class="card_box_num">
            5 200
          </div>
          <div class="block_title">
            voyageurs accueillis
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card_box z-depth-2">
          <div class="card_box_num">
            960 000 € 
          </div>
          <div class="block_title">
            de revenus générés
          </div>
        </div>
      </div>
    </div>
  </div>
</div>