<div class="container" style="width: 100%; margin-top: 25px;">
  <div class="section">
    <div class="row">
      <div class="col s12 m4 center">
        <img src="https://i.imgur.com/xfnfqTF.png" class="block_icon" alt="pig">
        <div class="block_title">
          RENTABILITÉ
        </div>
        <div class="block_text">
          Optimisez vos revenus locatifs grâce à notre expertise et notre algorithme.
        </div>
      </div>
      <div class="col s12 m4 center">
        <img src="https://i.imgur.com/fgivC0l.png" class="block_icon" alt="simple">
        <div class="block_title">
          SIMPLICITÉ
        </div>
        <div class="block_text">
          Programmez une gestion adaptée à vos attentes et vos besoins, en quelques clics.
        </div>
      </div>
      <div class="col s12 m4 center">
        <img src="https://i.imgur.com/uoQce4A.png" class="block_icon" alt="paperplane">
        <div class="block_title">
          LIBERTÉ
        </div>
        <div class="block_text">
          Libérez-vous de toute contrainte de gestion, récupérez votre bien quand vous le souhaitez.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m4 center">
        <img src="https://i.imgur.com/hY2n9zU.png" class="block_icon" alt="flex">
        <div class="block_title">
          FLEXIBILITÉ
        </div>
        <div class="block_text">
          Confiez-nous votre bien jusqu’au dernier moment, nous intervenons 7J/7, 24H/24.   
        </div>
      </div>
      <div class="col s12 m4 center">
        <img src="https://i.imgur.com/4ldbJQ1.png" class="block_icon" alt="quality">
        <div class="block_title">
          QUALITÉ
        </div>
        <div class="block_text">
          Profitez de services de qualité avec des concierges issus de formations hôtelières.
        </div>
      </div>
      <div class="col s12 m4 center">
        <img src="https://i.imgur.com/fgivC0l.png" class="block_icon" alt="isxce2X">
        <div class="block_title">
          SÉCURITÉ
        </div>
        <div class="block_text">
          Ayez confiance : nos concierges sont assurés, <br> les paiements et les clés sécurisés.
        </div>
      </div>
    </div>
  </div>
</div>